#MusicPlayerContainer {
}

#MusicPlayer {
	height: 400px;
	display: inline-block;
	overflow: scroll;
}
	

#MusicPlayer h1 {
	font-size: 1em;
	
}

#MusicPlayer audio {
	width: 45vw;
	height: 25px;
}

#LicensesWDealsPrices span {
	display: inline-block;
	align-items: center;
}

#LicensesWDealsPrices span h1 {
	text-align: center;
}

#AboutMe {
		color: black;
		justify-content: space-evenly;
}

#DiscographyInfo {
		align-items: center;
}
body {
  background-color: powderblue;
}

footer {
	background-color: pink;
}