#MusicPlayerContainer {
}

#MusicPlayer {
	height: 25vh;
	display: inline-block;
	overflow: scroll;
}
	

#MusicPlayer h1 {
	font-size: 1em;
	
}

#MusicPlayer audio {
	width: 45vw;
	height: 25px;
}


#LicensesWDealsPrices span h1 {
	text-align: center;
}


#Licenses {
	display: flex;
	justify-content: center;
	font-size: 0.75em;

}

#LicensesWDealsPrices input {
	margin-left: 32.5em;

}



LicensesWDealsPrices form {
	display:inline-grid;justify-items:center;align-content:start;gap:0.5rem;
}

#PayPalButton {
	text-align:center;
	border:none;
	border-radius:0.25rem;
	min-width:11.625rem;
	padding:0 2rem;
	height:2.625rem;
	font-weight:bold;
	background-color:#FFD140;
	color:#000000;
	font-family:"Helvetica Neue",Arial,sans-serif;
	font-size:1rem;
	line-height:1.25rem;
	cursor:pointer;}

#AboutMe {
	display: flex;
}

#AboutMe p {
	display: flex;
	font-size: 1rem;
}


#DiscographyInfo {
		display: inline-block;
		justify-content: space-evenly;
}

#DiscographyInfo h1 {
	text-align: center;
}


body {
  background-color: powderblue;
}

footer {
	background-color: pink;
}

